<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('styles.css') }}">
{{ encore_entry_link_tags('css/app') }}

<title>Eredivise Teams</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if followedTeams is not empty %}
    <h2>Followed Teams:</h2>
    <ul>
        {% for team in followedTeams %}
            <li>{{ team.getName }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not following any teams.</p>
{% endif %}


<div class="container mt-4">
    <h1 class="mb-4">Eredivisie Teams</h1>
    <p class="lead">Here you can find information about Eredivisie teams.</p>
    <p>If you wish to know more about a team, click on the team name.</p>

    <div class="row">
        {% for team in teams %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ team.name }}</h5>
                        <p class="card-text">Some details about the team...</p>
                        <p>{{ team.id }}</p>
                        <a href="{{ path('team_details', {'teamId': team.id}) }}">View Details</a>
                        {% if team in app.user.followedTeams %}
                        <a href="{{ path('team_unfollow', {'apiId': team.id}) }}">Unfollow</a>
                        {% else %}
                        <a href="{{ path('team_follow', {'apiId': team.id}) }}">Follow</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
