{# templates/followed/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Followed Teams{% endblock %}

{% block body %}
    <h1>Followed Teams</h1>
    {% for teamMatch in teamMatches %}
    <div>
        <h2>{{ teamMatch.team.name }}</h2>
        <p>Last Match: {% if teamMatch.recentMatch %}{{ teamMatch.recentMatch.homeTeam.name }} vs {{ teamMatch.recentMatch.awayTeam.name }} - Score: {{ teamMatch.recentMatch.score.fullTime.home }}:{{ teamMatch.recentMatch.score.fullTime.away }}{% else %}No recent matches found.{% endif %}</p>
        <p>Upcoming Match: {% if teamMatch.upcomingMatch %}{{ teamMatch.upcomingMatch.homeTeam.name }} vs {{ teamMatch.upcomingMatch.awayTeam.name }} - Date: {{ teamMatch.upcomingMatch.utcDate|date('Y-m-d H:i') }}{% else %}No upcoming matches scheduled.{% endif %}</p>
    </div>
{% else %}
    <p>You are not following any teams.</p>
{% endfor %}
{% endblock %}